## Zed Editor
zed/.config/zed/prompts/prompts-library-db.0.mdb/lock.mdb
zed/prompts/*

## Fish Shell
fishd.*
fish_history
**/fish_variables
**/functions
config.local.fish
fish/.config/fish/fish_plugins
fish/.config/fish/fish_variables
fish/.config/fish/functions/
fish/.config/fish/conf.d/
fish/.config/fish/completions/
